# Environment variables
*.env

# EMQX data directory
/emqx/data

# Folder for certificates
/certs/

# Flutter ignore rules
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.idea/
**/pubspec.lock

/test_notification_app/assets/certs/

# General stuff
test_notification_app/.metadata

# Logs and IDE settings
*.log
*.swp
*.swo
.idea/
.vscode/
*.iml
